################################
# APP
################################
APP_NAME="Gestão Edu"
APP_ENV=local
APP_KEY=
APP_DEBUG=true

APP_PORT=8020
APP_URL=http://localhost:${APP_PORT}

APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=pt_BR
APP_FAKER_LOCALE=en_US

################################
# DOCKER PORTS
################################
DOCKER_APP_PORT=8020
DOCKER_DB_PORT=3309
DOCKER_PHPMYADMIN_PORT=8085

################################
# GOOGLE OAUTH
################################
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=${APP_URL}/oauth/callback/google

################################
# SECURITY
################################
BCRYPT_ROUNDS=12

################################
# LOG
################################
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

################################
# DATABASE
################################
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=gestao-edu
DB_USERNAME=root
DB_PASSWORD=root

MYSQL_ROOT_PASSWORD=root

################################
# CACHE / SESSION
################################
CACHE_DRIVER=file

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_EXPIRE_ON_CLOSE=true

################################
# QUEUE
################################
QUEUE_CONNECTION=database
EXPORTS_QUEUE=exports
EXPORTS_JOB_TIMEOUT=900
EXPORTS_MAX_ACTIVE_PER_USER=3

################################
# FILESYSTEM
################################
FILESYSTEM_DISK=local

################################
# REDIS
################################
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

################################
# MAIL
################################
MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

################################
# AWS
################################
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

################################
# VITE
################################
VITE_APP_NAME="${APP_NAME}"
