K6_BASE_URL=https://edu.hubdetestes.online
K6_USERS_FILE=/scripts/data/users.local.csv
K6_PROFILE=smoke
K6_GRAFANA_PORT=3001
K6_INFLUXDB_PORT=8086
K6_GRAFANA_USER=admin
K6_GRAFANA_PASSWORD=admin
K6_INCLUDE_HEARTBEAT=false
K6_PAGE_DELAY_MIN=1
K6_PAGE_DELAY_MAX=4

# Optional override. Format: name:/path;name:/path
# K6_NAV_PATHS=dashboard:/admin/dashboard;profile:/admin/profile

# Optional profile override. Format: profile=name:/path,name:/path;profile=name:/path
# K6_PROFILE_PATHS=secretario=dashboard:/admin/dashboard,professores:/admin/professores,turmas:/admin/turmas
